.auth0-lock.auth0-lock .auth0-lock-form .auth0-lock-alternative {
    display: none !important
}

#logo-grey-horizontal #Group #LogoBadge #Shape {
    display: none
}

.auth0-lock-badge-bottom {
    display: none
}

.auth0-lock.auth0-lock .auth0-lock-submit {
    border: 0;
    background-color: rgb(58, 62, 65);
    padding: 14px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    overflow: hidden;
    border-radius: 0 0 0 0;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    color: #fff;
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase
}

.auth0-lock.auth0-lock .auth0-lock-header-logo {
    width: auto;
    height: 25px;
    display: inline-block;
    margin: 0 0 11px;
    vertical-align: middle
}